POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=go-api

DATABASE_URL=postgres://postgres:postgres@localhost:5432/go-api?sslmode=disable
REDIS_URL=redis://localhost:6379/0
JWT_SECRET=731dfec56f47f87034f60d2f044d0437c4b31ff43d20c3f8b55fd0568c43e8f2

SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_FROM=no-reply@local.dev

MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=12345678

MINIO_ENDPOINT=localhost:9000
MINIO_BUCKET=uploads
MINIO_USE_SSL=false